doctype html
html
  head
    meta(charset='UTF-8')

    title BallBame

    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/highlight.pack.css')

  body
    #react

    section 初期設定
    

    script(src='js/react-with-addons-0.13.1.js')
    script(src='js/bundle.js')
    script(src='js/highlight.pack.js')
