doctype html
html
  head
    meta(charset='UTF-8')

    title BallBame

    link(rel='stylesheet', href='css/app.css')

  body
    div#react

    section 初期設定
    

    script(src='http://fb.me/react-with-addons-0.13.1.js')
    script(src='js/bundle.js')
